.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem;
}

.toggle {
    margin: 0rem 0.5rem;
    padding: 0rem 0.5rem;
    color: grey;
    cursor: pointer;
    border: solid 1px grey;
}

.toggle:hover {
    color: black;
    border: solid 1px black;
}

.modal {
    color: grey;
    display: flex;
    font-size: x-large;
    background: transparent;
    border:  none;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0.5rem;
}

.modal:hover {
    color: black;
}

.modal:focus {
    outline: none;
}