.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    max-width: 80rem;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0rem;
    width: 100%;
    font-weight: 600;
    color: #606060;
    border-bottom: 0.5px solid lightgrey;
}

.text {
    margin-left: 2rem;
}

.profile_img {
    width: 6rem;
    height: 6rem;
}
