.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid black;
}

.link {
    color: var(--dark);
    text-decoration: none;
}
.link:hover {
    color: var(--dark);
    text-decoration: none;
}

.small_item {
    flex: 1;
}

.big_item {
    flex: 2;
}
