.button {
    display: flex;
    border-radius: 50%;
    background: transparent;
    border: 0;
}

.button:focus {
    outline: 0;
}

.icon {
    color: white;
    display: block;
    margin: auto;
}
