.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    display: flex;
    flex-direction: row;
}
.link {
    color: var(--dark);
    text-decoration: none;
}
.link:hover {
    color: var(--dark);
    text-decoration: none;
}
