.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100px;
    width: 50%;
    border-bottom: 1px solid black;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 60px;
    width: 20%;
}

.button {
    padding: 0px 4px 0px 4px;
}

.button > a {
    color: var(--dark);
    text-decoration: none;
}
